<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Основной HTML-шаблон приложения "Яндекс.Диск".

    Описание:
    - Этот файл является базовым шаблоном для всех страниц проекта.
    - Содержит базовую структуру страницы, включая заголовок, стили, заголовок приложения,
      основной блок и футер.
    - Блоки `title` и `content` предназначены для расширения
      в дочерних шаблонах.
    -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    Блок `title` позволяет переопределять заголовок страницы в дочерних шаблонах.
    Если блок не переопределён, используется значение по умолчанию: "Яндекс.Диск".
    -->
    <title>{% block title %}Яндекс.Диск{% endblock %}</title>

    {% load static %}
    <!-- Подключение основного файла стилей и добавление иконки-->
    <link rel="stylesheet" href="{% static 'yandex_disk/style.css' %}">
    <link rel="icon" href="{% static 'yandex_disk/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <!-- Основной заголовок приложения -->
        <h1>Приложение Яндекс.Диск</h1>
    </header>

    <main>
        <!--
        Блок `content` предназначен для размещения основного содержимого страницы.
        Дочерние шаблоны обязаны переопределить этот блок для отображения своего контента.
        -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Футер с копирайтом -->
        <p>&copy; 2024 Made by Davydi</p>
    </footer>
</body>
</html>
