<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Яндекс.Диск{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'yandex_disk/style.css' %}">
</head>
<body>
    <header>
        <h1>Скачать файлы с Яндекс.Диск</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Made by Davydi</p>
    </footer>
</body>
</html>
