<!DOCTYPE html>
<html>
<head>
    <title>Список файлов</title>
</head>
<body>
    <h1>Список файлов</h1>
    <a href="?public_link={{ public_link }}&type=documents">Только документы</a> |
    <a href="?public_link={{ public_link }}&type=images">Только изображения</a> |
    <a href="?public_link={{ public_link }}">Все файлы</a>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <form method="post" action="{% url 'download_multiple_files' %}">
            {% csrf_token %}
            <input type="hidden" name="public_link" value="{{ public_link }}">
            <ul>
            {% for file in files %}
                <li>
                    {% if file.type == 'file' %}
                        <input type="checkbox" name="files" value="{{ file.path }}">
                    {% endif %}
                    {{ file.name }}
                </li>
            {% endfor %}
            </ul>
            <button type="submit">Скачать выбранные файлы</button>
        </form>
    {% endif %}
</body>
</html>
