{% extends "yandex_disk/base.html" %}
<!--
    Заголовок страницы.
    Переопределяет блок `title` из базового шаблона `base.html`.
    Отображается как "Главная".
    -->
{% block title %} Главная {% endblock %}
<!-- Основной контент страницы -->
{% block content %}
    <!-- Основной контент страницы -->
    <h2>Введите публичную ссылку</h2>

    <!--
    Форма для ввода публичной ссылки.
    Описание:
    - Метод формы: POST (передача данных на сервер).
    - Поле `public_link`: текстовое поле, в которое пользователь вводит публичную ссылку.
    - Кнопка "Отправить": отправляет данные формы.
    - `csrf_token`: добавляет токен CSRF для защиты от межсайтовых подделок запросов.
    -->
    <form method="post">
        {% csrf_token %}
        <!-- Поле ввода публичной ссылки -->
        <input type="text" name="public_link" placeholder="Введите публичную ссылку" required>
        <!-- Кнопка отправки формы -->
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
